- title "New Subdivision"

.block
  .secondary-navigation
    = render :partial => 'shared/admin_nav'
  .content
    .blockhead
      %h2 New Subdivision
    .inner
      = render :partial => 'form'

