.table td {
  padding: 5px; }

#container {
  width: 1020px; }

.table {
  cellspacing: 0;
  cellpadding: 0; }

#wrapper {
  padding: 20px 0 0 0; }

h2 {
  font-size: 18px;
  margin: 0; }

#listnav h3 {
  background: #c7d8d8;
  border-bottom: 1px solid #999999;
  padding: 5px 10px; }
#listnav ul li a:link, #listnav ul li a:visited {
  font-size: 14px; }
#listnav ul li a:hover, #listnav ul li a:active {
  background: #e9fae6;
  color: #444444;
  font-size: 14px;
  text-decoration: underline; }
#listnav ul.navigation li.last a {
  border-bottom: none; }
#listnav ul.navigation li a:link, #listnav ul.navigation li a:visited {
  padding: 5px 10px;
  color: #444444;
  text-decoration: none; }
#listnav ul.navigation li a:hover {
  text-decoration: underline; }

.blockhead {
  margin: 0 0 20px 0;
  background-color: #e9fae6;
  padding: 5px 5px 5px 15px;
  border-top: 5px solid #30423e; }

.side {
  vertical-align: absbottom;
  display: inline; }
