- title "Edit Area Manager"

.block
  .secondary-navigation
    = render :partial => 'shared/admin_nav'
  .content
    .blockhead
      %h2 Edit Area Manager
    .inner
      = render :partial => 'form'

