- title "New Area Manager"

.block
  .secondary-navigation
    = render :partial => 'shared/admin_nav'
  .content
    .blockhead
      %h2 New Area Manager
    .inner
      = render :partial => 'form'

