- title "Edit Superintendent"

.block
  .secondary-navigation
    = render :partial => 'shared/admin_nav'
  .content
    .blockhead
      %h2 Edit Superintendent
    .inner
      = render :partial => 'form'

